<div class="container my-4 py-4 my-md-5 py-md-5 px-3" style="max-width: 800px;">

    <h1 class="mb-4">Post a new job</h1>

    <% if(error) { %>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <% } %>

    <% if(success) { %>

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    <% } %>

    <form action="/postjob" method="post">
        <input type="hidden" name="userId" id="userId" value="<%= userId %>">
        <div class="row">
            <div class="col-md mb-4 mb-md-0">
                <input type="text" class="form-control" placeholder="Name of the company" name="companyName" value="<%= jobData.companyName || '' %>">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Job Location" name="location" value="<%= jobData.location || '' %>">
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md mb-4 mb-md-0">
                <label class="visually-hidden" for="salary">Salary</label>
                <div class="input-group">
                    <div class="input-group-text">Salary</div>
                    <input type="text" class="form-control" id="salary" placeholder="" name="salary" value="<%= jobData.salary || '' %>">
                </div>
            </div>
            <div class="col">
                <label class="visually-hidden" for="total-positions">Total Positions</label>
                <div class="input-group">
                    <div class="input-group-text">Total Positions</div>
                    <input type="number" class="form-control" id="total-positions" placeholder="20" name="totalPositions" value="<%= jobData.totalPositions || '' %>">
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md mb-4 mb-md-0">
                <select class="form-select" aria-label="Default select example" name="category">
                    <option selected disabled>Select Job Category</option>
                    <option value="Tech" <%= jobData.category === 'Tech' ? 'selected' : '' %>>Tech</option>
                    <option value="Non-tech" <%= jobData.category === 'Non-tech' ? 'selected' : '' %>>Non-Tech</option>
                </select>
            </div>
            <div class="col">
                <select class="form-select" name="designation">
                    <option disabled selected>Select Job Designation</option>
                    
                    <% const designations = [
                        'HR', 'SDE', 'Devops', 'Security', 'Front-End Developer', 
                        'Back-End Developer', 'Full-stack Developer', 'Manager', 
                        'Human Resource', 'Receptionist', 'Office Manager', 
                        'Data Entry Clerk', 'Executive Assistant', 'Financial Analyst', 
                        'Auditor', 'Bookkeeper', 'Sales Representative', 
                        'Marketing Coordinator', 'Customer Service Representative', 
                        'Delivery Driver', 'Warehouse Worker', 'Help Desk Associate', 
                        'Content Writer', 'Copywriter', 'Graphic Designer', 
                        'Social Media Manager', 'Administrative Assistant'
                    ]; %>
            
                    <% designations.forEach(designation => { %>
                        <option value="<%= designation %>" <%= jobData.designation === designation ? 'selected' : '' %>><%= designation %></option>
                    <% }); %>
                </select>
        </div>

        <div class="row mt-4">
            <div class="col-md mb-4 mb-md-0">
                <select class="form-select" multiple name="skills">
                    <option disabled>Select skills required for this job</option>
                    <% const selectedSkills = jobData.skills || []; %>
                    <% const skills = [
                    'NodeJs', 'ReactJS','Django','.Net','C#','Python','Nestjs','Mysql','Postgresql','Java','Springboot','Flask', 'MongoDB', 'DSA', 'SQL', 'Express', 'Java', 'C++',
                    'Communication', 'Time Management', 'Leadership', 'Problem-Solving', 
                    'Teamwork', 'Adaptability', 'Creativity', 'Emotional Intelligence', 
                    'Critical Thinking', 'Interpersonal Skills',
                    'Excel', 'Word', 'PowerPoint', 'Project Management', 'Customer Service', 
                    'Negotiation', 'Public Speaking', 'Data Analysis', 'Research', 'Writing'                    ]; %>
                    <% skills.forEach(skill => { %>
                        <option value="<%= skill %>" <%= selectedSkills.includes(skill) ? 'selected' : '' %>><%= skill %></option>
                    <% }); %>
                </select>
            </div>
            <div class="col">
                <label for="applyby" class="form-label">Expiry date</label>
                <input type="date" class="form-control" placeholder="Apply by" id="expiry_date" name="expiry_date" value="<%= jobData.expiry_date || '' %>">
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Submit</button>

    </form>

</div>
